{% extends 'base.html.twig' %}

{% block title %}Setup{% endblock %}

{% block body %}
    <h1>Créez vos wallets</h1>
    <p>Avant d'utiliser le cryptobook, vous devez ajouter les différents wallets que vous utilisez.</p>

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
